<ion-header>
    <ion-toolbar>
        <ion-title>
            Time to get app and exercise!
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/img/login.JPG"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>Welcome!</ion-card-subtitle>
            <ion-card-title>Log in or register</ion-card-title>
        </ion-card-header>

        <ion-input id="usernameField" placeholder="Username" clearInput="true" [(ngModel)]="usernameInput"
                   (keydown)="onEnterClick($event)" readonly={{awaitingResponse}}></ion-input>

        <ion-input id="passwordField" placeholder="Password" clearInput="true" type="password" clearOnEdit="false"
                   [(ngModel)]="passwordInput" (keydown)="onEnterClick($event)" readonly={{awaitingResponse}}></ion-input>

        <ion-button id="logInButton" (click)="logIn()" size="block" color="success">Log in&nbsp;&nbsp;&nbsp;
            <ion-spinner *ngIf="awaitingResponse"></ion-spinner>
        </ion-button>

        <ion-button id="Register" (click)="register()" size="block" color="success">Register</ion-button>

    </ion-card>
</ion-content>
