<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Walks</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item (click)="navigateToWalkNew()">
            <ion-label class="label-medium-center">
                Create new walk
            </ion-label>
        </ion-item>

        <ion-spinner *ngIf="awaitingResponse"></ion-spinner>
    </ion-card>

    <ion-refresher pulling-text="Pull to refresh" (ionRefresh)="doRefresh($event)" pullMax="120">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item *ngFor="let walk of walksFromDatabase" (click)="goToWalk(walk)">
            <ion-label class="list-label">{{walk.name}}</ion-label>
        </ion-item>
    </ion-list>

</ion-content>
