<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Walks</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item (click)="navigateToWalkNew()">
            <ion-label class="label-medium-center">
                Create new walk
            </ion-label>
        </ion-item>

        <ion-spinner *ngIf="awaitingResponse"></ion-spinner>
    </ion-card>

    <ion-list>
        <ion-item *ngFor="let walk of walksFromDatabase" (click)="goToWalk(walk)">
            <ion-label>{{walk.name}}</ion-label>
        </ion-item>
    </ion-list>

</ion-content>
