<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Locations
        </ion-title>
        <ion-icon class="homeIcon" slot="end" name="home" (click)="goToHome()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
    <ion-card (click)="navigateToLocationNew()">
        <img src="assets/img/new.jpg"/>
        <div class="card-title">Create new location</div>
    </ion-card>
    <ion-spinner *ngIf="awaitingResponse"></ion-spinner>

    <ion-refresher pulling-text="Pull to refresh" pullMax="120" closeDuration="550ms" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item *ngFor="let fence of geofencesFromDatabase" (click)="navigateToGeofenceInfo(fence)">
            <ion-label class="list-label">{{fence.name}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
