<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Locations
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

    <ion-item (click)="navigateToLocationNew()">
        <ion-label class="labelTest">
            Add new location
        </ion-label>
    </ion-item>

    <ion-button (click)="getItems()" size="block" color="success">Refresh&nbsp;&nbsp;&nbsp;<ion-spinner
            *ngIf="awaitingResponse"></ion-spinner>
    </ion-button>

    <ion-list>
        <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">
            <ion-reorder *ngFor="let fence of geofencesFromDatabase">
                <ion-item>
                    <ion-label>{{fence.name}}</ion-label>
                </ion-item>
            </ion-reorder>
        </ion-reorder-group>
    </ion-list>

</ion-content>
