<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            List
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-card>
    <ion-input id="lat" value="59.316253" clearInput="false" [(ngModel)]="lat"
               (keydown)="onEnterClick($event)"></ion-input>
    <ion-input id="long" value="18.235457" clearInput="false"
               [(ngModel)]="long" (keydown)="onEnterClick($event)"></ion-input>
    <ion-button id="save" (click)="saveGeofence()">Save&nbsp;&nbsp;&nbsp;
        <ion-spinner *ngIf="awaitingResponse"></ion-spinner>
    </ion-button>
</ion-card>


<ion-content>
    <app-map></app-map>

    <!--  <app-map></app-map>-->
    <!--  <ion-list>-->
    <!--    <ion-item *ngFor="let item of items">-->
    <!--      <ion-icon [name]="item.icon" slot="start"></ion-icon>-->
    <!--      {{item.title}}-->
    <!--      <div class="item-note" slot="end">-->
    <!--        {{item.note}}-->
    <!--      </div>-->
    <!--    </ion-item>-->
    <!--  </ion-list>-->
    <!--  &lt;!&ndash;-->
    <!--    <div *ngIf="selectedItem" padding>-->
    <!--      You navigated here from <b>{{selectedItem.title }}</b>-->
    <!--    </div>-->
    <!--  &ndash;&gt;-->
</ion-content>
