<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{walk.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-spinner *ngIf="awaitingResponse"></ion-spinner>
    <ion-label class="label-medium-center">Locations: </ion-label>
    <ion-list>
        <ion-item *ngFor="let fence of walk.geofences">
            <ion-label>{{fence.name}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-button (click)="startFixedTurnWalk()">Start walk</ion-button>
    <ion-button (click)="startShuffledWalk()">Start shuffled walk</ion-button>
    <ion-button (click)="navigateToWalkList()">Back</ion-button>
    <ion-button (click)="navigateToWalkUpdate()">Update</ion-button>

</ion-content>
