<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            New location
        </ion-title>
        <ion-icon class="homeIcon" slot="end" name="home" (click)="goToHome()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <label class="label-medium">A location is a position in the real world that creates an imagined circle around it.
        Crossing the border of this circle will trigger the location, letting both you and your device know where
        you've arrived.
    </label>
    <label class="label-medium">The radius sets how close you have to be for it to trigger.
        It is recommended that you do not set it to less than 20 meters.</label>
    <ion-card>
        <ion-input class="input-medium" id="geoName" placeholder="Name" clearInput="true"
                   readonly={{awaitingResponse}}
                   (keydown)="onEnterClick($event)" [(ngModel)]="name"></ion-input>

        <ion-input class="input-medium" id="lat" type="number" clearInput="false" [(ngModel)]="lat"
                   (keydown)="onEnterClick($event)" readonly={{awaitingResponse}} placeholder="Latitude"></ion-input>

        <ion-input class="input-medium" id="long" type="number" clearInput="false"
                   [(ngModel)]="long" (keydown)="onEnterClick($event)" readonly={{awaitingResponse}}
                   placeholder="Longitude"></ion-input>

        <ion-input class="input-medium" id="radius" type="number" clearInput="false"
                   [(ngModel)]="radius" (keydown)="onEnterClick($event)" readonly={{awaitingResponse}}
                   placeholder="Radius (meters)"></ion-input>

        <ion-button id="saveGeo" (click)="saveGeofence()" color="success">Save&nbsp;&nbsp;&nbsp;
            <ion-spinner *ngIf="awaitingResponse"></ion-spinner>
        </ion-button>

        <ion-button (click)="navigateToLocationList()">Back</ion-button>
    </ion-card>
</ion-content>
