<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            New location
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-input class="inputTest" id="geoName" placeholder="Name for geofence" clearInput="true"
                   readonly={{awaitingResponse}}
                   (keydown)="onEnterClick($event)" [(ngModel)]="name"></ion-input>

        <ion-input class="inputTest" id="lat" clearInput="false" [(ngModel)]="lat"
                   (keydown)="onEnterClick($event)" readonly={{awaitingResponse}}></ion-input>

        <ion-input class="inputTest" id="long" clearInput="false"
                   [(ngModel)]="long" (keydown)="onEnterClick($event)" readonly={{awaitingResponse}}></ion-input>

        <ion-select [(ngModel)]="radius" value="100" okText="Done" selectedText="Radius of geofence">
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="100">100</ion-select-option>
            <ion-select-option value="150">150</ion-select-option>
            <ion-select-option value="200">200</ion-select-option>
            <ion-select-option value="250">250</ion-select-option>
        </ion-select>

        <ion-select [(ngModel)]="transition" value="Enter" okText="Done" cancelText="Dismiss"
                    selectedText="Transition type">
            <ion-select-option value=1>Enter</ion-select-option>
            <ion-select-option value=2>Leave</ion-select-option>
            <ion-select-option value=3>Both</ion-select-option>
        </ion-select>

        <ion-button id="saveGeo" (click)="saveGeofence()" color="success">Save&nbsp;&nbsp;&nbsp;
            <ion-spinner *ngIf="awaitingResponse"></ion-spinner>
        </ion-button>

        <ion-button (click)="navigateToLocationList()" color="danger">Cancel</ion-button>
    </ion-card>
</ion-content>
