<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            New location
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-input id="lat" value="59.316253" clearInput="false" [(ngModel)]="lat"
                   (keydown)="onEnterClick($event)"></ion-input>
        <ion-input id="long" value="18.235457" clearInput="false"
                   [(ngModel)]="long" (keydown)="onEnterClick($event)"></ion-input>
        <ion-button id="save" (click)="saveGeofence()">Save&nbsp;&nbsp;&nbsp;
            <ion-spinner *ngIf="awaitingResponse"></ion-spinner>
        </ion-button>
    </ion-card>
</ion-content>
