<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            App and exercise!
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

<!--    <ion-card (click)="navigateToRegionList()">-->
<!--        <img src="assets/img/region.png"/>-->
<!--        <div class="card-title">Regions</div>-->
<!--        <div class="card-subtitle">View and add regions</div>-->
<!--    </ion-card>-->

    <ion-card (click)="navigateToLocationList()">
        <img src="assets/img/location.png"/>
        <div class="card-title">Locations</div>
        <div class="card-subtitle">View and add specific locations</div>
    </ion-card>

    <ion-card (click)="navigateToWalkList()">
        <img src="assets/img/walk.png"/>
        <div class="card-title">Walks</div>
        <div class="card-subtitle">View and add specific walks</div>
    </ion-card>

</ion-content>
