// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 2px #111, 2px 2px 2px #111;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.2em;
    width: 100%;
    font-weight: bold;
    color: #fafafa;
  }

  .card-subtitle {
    font-size: 1.3em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fafafa;
  }

}

.labelTest{
  font-size: 1.2em !important;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.testReorder{
  pointer-events: all;
}

.inputTest{
  font-size: 1.0em !important;
}
