<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Get app and exercise!
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/skyline.png"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>Välkommen!</ion-card-subtitle>
            <ion-card-title>Logga in nedan</ion-card-title>
        </ion-card-header>
        <ion-input></ion-input>
        <ion-input placeholder="Användarnamn" clearInput="true"></ion-input>
        <ion-input placeholder="Lösenord" clearInput="true" type="password"></ion-input>
        <ion-button (click)="logIn()">Logga in</ion-button>
    </ion-card>
</ion-content>
